# Django Settings.
SECRET_KEY="insecure-django-secret-key"
DEBUG=1
TIME_ZONE="Africa/Cairo"
ALLOWED_HOSTS=localhost

# Databases.
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_HOST=database

# CELERY SETTINGS
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=django-db
CELERY_BROKER_POOL_LIMIT=5
CELERY_BROKER_CONNECTION_TIMEOUT=3
CELERY_TASK_TIME_LIMIT=3600
CELERY_TASK_RESULT_EXPIRES=None
